<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NusaCode Assessment</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>NusaCode Assessment</h1>
        <form id="quizForm">

            <div class="soal">
                <p>1. Kamu buka website dan tampilannya berantakan, loading-nya juga lama. Hal pertama yang kamu pikirin apa?</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q1" value="a">a. Pasti ada yang salah di struktur kodenya.</label>
                    <label><input type="radio" name="Q1" value="b">b. Mungkin jaringan atau device aku yang lemot</label>
                    <label><input type="radio" name="Q1" value="c">c. Pengen tahu berapa banyak orang lain yang ngalamin hal yang sama.</label>
                    <label><input type="radio" name="Q1" value="d"> d. Desain dan alurnya emang kurang nyaman buat user.</label>
                </div>
            </div>

            <div class="soal">
                <p>2. Kalau kamu diminta bikin tombol “Login”, hal paling penting yang bakal kamu pikirin apa?</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q2" value="a">a. Pastikan tampilannya rapi dan bisa dipakai semua orang.</label>
                    <label><input type="radio" name="Q2" value="b">b. Harus bisa jalan di semua device tanpa bug.</label>
                    <label><input type="radio" name="Q3" value="c">c. Data login-nya harus aman dan terukur.</label>
                    <label><input type="radio" name="Q3" value="d">d. Flow-nya jangan bikin user bingung pas login.</label>
                </div>
            </div>

            <div class="soal">
                <p>3. Suatu hari data penjualan naik dua kali lipat, tapi besoknya langsung turun. Reaksi kamu apa?</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q3" value="a">a. Cek dulu sistem atau kodenya, takutnya error.</label>
                    <label><input type="radio" name="Q3" value="b">b. Mungkin ada promo harian yang udah selesai. </label>
                    <label> <input type="radio" name="Q3" value="c">c. Coba analisis datanya, bisa jadi hasilnya belum akurat.</label>
                    <label> <input type="radio" name="Q3" id="d"> d. Bisa jadi user salah paham sama promonya</label>
                </div>
            </div>

            <div class="soal">
                <p> 4. Kamu kerja bareng tim dari berbagai bidang. Bagian mana yang paling kamu pengen pegang? </p>
                <div class="pilihan">
                    <label> <input type="radio" name="Q4" value="a">a. Bagian teknis dan struktur sistem.</label>
                    <label> <input type="radio" name="Q4" value="b"> b. Bikin fitur biar bisa dipakai di berbagai perangkat.</label>
                    <label> <input type="radio" name="Q4" value="c"> c. Analisis performa dan data hasil kerja tim.</label>
                    <label> <input type="radio" name="Q4" value="d"> d. Ngatur alur produk biar sesuai kebutuhan user dan bisnis. </label>
                </div>
            </div>

            <div class="soal">
                <p>5. Ada bug yang cuma muncul kalau user ngelakuin urutan langkah tertentu. Cara kamu nyari penyebabnya gimana?</p>
                <div class="pilihan">
                    <label> <input type="radio" name="Q5" value="a">a. Lacak satu-satu urutan fungsi yang jalan</label>
                    <label> <input type="radio" name="Q5" value="b"> b. Coba langsung di beberapa device. </label>
                    <label> <input type="radio" name="Q5" value="c"> c. Analisis log atau data aktivitas user. </label>
                    <label> <input type="radio" name="Q5" value="d"> d. Uji pengalaman user buat tahu di langkah mana mereka kesulitan. </label>
                </div>
            </div>

            <div class="soal">
                <p>6. Antara tugas kreatif efek kecil dan tugas teknis dampak besar, mana yang kamu pilih?</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q6" value="a"> a. Yang teknis dulu, biar langsung keliatan hasilnya.</label>
                    <label><input type="radio" name="Q6" value="b"> b. Yang kreatif, soalnya lebih seru dan fleksibel.</label>
                    <label><input type="radio" name="Q6" value="c">  c. Lihat mana yang paling efisien dari waktu dan hasil.</label>
                    <label><input type="radio" name="Q6" value="d"> d. Pilih yang paling ngaruh ke user dan tujuan bisnis. </label>
                </div>
            </div>

            <div class="soal">
                <p> 7. Kamu disuruh milih antara ngerapihin semua kode dari awal biar lebih bersih atau memperbaiki bug kecil yang sering muncul. Kamu bakal...</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q7" value="a">a. Rapihin semua kode biar jangka panjangnya aman.</label>
                    <label><input type="radio" name="Q7" value="b">b. Fokus ke bug kecil dulu biar sistem tetap stabil.</label>
                    <label><input type="radio" name="Q7" value="c">c. Cek data error buat tahu mana yang paling sering muncul.</label>
                    <label><input type="radio" name="Q7" value="d">d. Lihat bug mana yang paling ganggu user dulu baru perbaiki.</label>
                </div>
            </div>

            <div class="soal">
                <p> 8. User bilang fitur “Cari Kursus” susah dipakai. Apa langkah pertama kamu? </p>
                <div class="pilihan">
                    <label><input type="radio" name="Q8" value="a"> a. Cek dulu kodenya, mungkin logikanya belum optimal.</label>
                    <label><input type="radio" name="Q8" value="b">b. Tes tampilan di HP dan laptop, siapa tahu tampilannya beda.</label>
                    <label><input type="radio" name="Q8" value="c"> c. Analisis data pencarian buat tahu bagian mana yang sering gagal.</label>
                    <label><input type="radio" name="Q8" value="d">d. Lakukan uji coba langsung sama user buat tahu bagian mana yang bikin bingung.</label>
                </div>
            </div>

            <div class="soal">
                <p> 9. Kalau kerja bareng tim, kamu lebih suka dapet tugas yang... </p>
                <div class="pilihan">
                    <label><input type="radio" name="Q9" value="a">a. Butuh logika dan struktur yang jelas.</label>
                    <label><input type="radio" name="Q9" value="b">b. Bisa langsung dicoba dan dilihat hasilnya. </label>
                    <label><input type="radio" name="Q9" value="c"> c. Perlu analisis angka dan data buat ambil keputusan.</label>
                    <label><input type="radio" name="Q9" value="d">d. Melibatkan ide, strategi, dan diskusi bareng orang lain.</label>
                </div>
            </div>

            <div>
                <p>10. Kamu lagi ngolah data dan nemu beberapa bagian kosong. Kamu bakal ngapain?</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q10" value="a">a. Tambah validasi biar data kosong nggak kejadian lagi.</label>
                    <label><input type="radio" name="Q10" value="b"></label>
                </div>
            </div>

        </form>
    </div>
</body>
</html>