<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NusaCode Assessment</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>NusaCode Assessment</h1>
        <form id="quizForm">

            <div class="soal">
                <p>1. Kamu buka website dan tampilannya berantakan, loading-nya juga lama. Hal pertama yang kamu pikirin apa?</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q1" value="a">a. Pasti ada yang salah di struktur kodenya.</label>
                    <label><input type="radio" name="Q1" value="b">b. Mungkin jaringan atau device aku yang lemot</label>
                    <label><input type="radio" name="Q1" value="c">c. Pengen tahu berapa banyak orang lain yang ngalamin hal yang sama.</label>
                    <label><input type="radio" name="Q1" value="d"> d. Desain dan alurnya emang kurang nyaman buat user.</label>
                </div>
            </div>

            <div class="soal">
                <p>2. Kalau kamu diminta bikin tombol “Login”, hal paling penting yang bakal kamu pikirin apa?</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q2" value="a">a. Pastikan tampilannya rapi dan bisa dipakai semua orang.</label>
                    <label><input type="radio" name="Q2" value="b">b. Harus bisa jalan di semua device tanpa bug.</label>
                    <label><input type="radio" name="Q3" value="c">c. Data login-nya harus aman dan terukur.</label>
                    <label><input type="radio" name="Q3" value="d">d. Flow-nya jangan bikin user bingung pas login.</label>
                </div>
            </div>

            <div class="soal">
                <p>3. Suatu hari data penjualan naik dua kali lipat, tapi besoknya langsung turun. Reaksi kamu apa?</p>
                <div class="pilihan">
                    <label><input type="radio" name="Q3" value="a">a. Cek dulu sistem atau kodenya, takutnya error.</label>
                    <label><input type="radio" name="Q3" value="b">b. Mungkin ada promo harian yang udah selesai. </label>
                </div>
            </div>



        </form>
    </div>
</body>
</html>